.careers-title
  margin-top remify(53)
  margin-bottom remify(50)

.careers-section
  simple-border('top', 1px, #f3f3f3)

.careers__big-container
  text-align center
  padding-bottom remify(38)
  height remify(393)

  .site-button
    font-size 12px
    margin-top remify(52)

.careers__big-subtitle
  color #1b1a3a
  letter-spacing remify(0.3)
  font-size remify(28)
  margin 0

.careers-form
  padding-bottom remify(117)
  padding-top remify(45)
  width 90%
  center-block()
  max-width 698px
  font-size 12px

  .input-wrapper
    margin-top remify(20)

  .button-wrapper
    text-align center
    margin-top remify(61)