.contact-form
  width 90%
  center-block()
  max-width 428px
  font-size 12px
  padding-bottom remify(88)

  label.error
    font-family 'TomaSans'
    font-size 13.2px

  .input-wrapper:not(:first-child)
    margin-top remify(20)

  textarea
    height remify(143)

  .button-wrapper
    text-align center
    margin-top remify(23)

  .custom-loader
    margin-top remify(40)

  .form-message
    text-align center
    font-family 'TomaSans'
    font-size 13.2px

.contact-cover
  background-image url('../img/backgrounds/contact.jpg')
  height 33.3vw
  min-height 33vh