.homepage-hero
  height calc(95vh - 72px)
  min-height 350px

  @media screen and (orientation: portrait)
    @media screen and (min-height: 400px) and (min-width: 400px)
      max-height 76vw

.homepage-hero
  background-image url('../img/backgrounds/home-hero-bg.jpg')

.homepage-hero__content
  color white
  text-align center
  flex-basis 90%

.homepage-hero__title
  font-size remify(39)
  letter-spacing remify(0.6)
  margin 0

.homepage-hero__subtitle
  font-size remify(14)
  letter-spacing remify(1.9)
  text-transform uppercase

.homepage-introduction
  background white
  padding-bottom remify(65)
  padding-top remify(74)

.homepage-introduction__text
  color #636363
  font-size remify(16)
  letter-spacing remify(0.2)
  line-height 1.38
  max-width 581px
  margin 0
  center-block()
  text-align center
  width 90%

  &::before, &::after
    background #262346
    center-block()
    content ' '
    display block
    height 2px
    width 28px

  &::before
    margin-bottom remify(29)

  &::after
    margin-top remify(43)

.homepage-section
  display flex
  align-items center

  &:nth-of-type(2n + 1)
    background #f3f3f3

  &:nth-of-type(1) .homepage-section__image
    background-image url('../img/backgrounds/merchantile-bg.jpg')

  &:nth-of-type(2) .homepage-section__image
    background-image url('../img/backgrounds/civil-bg.jpg')

  &:nth-of-type(3) .homepage-section__image
    background-image url('../img/backgrounds/administrative-bg.jpg')

.homepage-section__content
  flex-basis 59.6%
  padding remify(61) remify(98) remify(66) remify(58)

.homepage-section__title
  color #0c0a25
  font-size remify(28)
  margin 0

  &::after
    background #262346
    content ' '
    display block
    height 2px
    margin-top remify(8)
    width 28px

.homepage-section__text
  color #6d6d6d
  font-size remify(14)
  margin-top remify(17)

.homepage-section__image
  min-height 28.87vw
  align-self stretch
  flex-basis 40.4%