.homepage-hero
  height calc(95vh - 72px)
  min-height 350px

  @media screen and (orientation: portrait)
    @media screen and (min-height: 400px) and (min-width: 400px)
      max-height 76vw

.homepage-hero
  background-image url('../img/backgrounds/home-hero-bg.jpg')

.homepage-hero__content
  color white
  text-align center
  flex-basis 90%

.homepage-hero__title
  font-size remify(39)
  letter-spacing remify(0.6)
  margin 0

.homepage-hero__subtitle
  font-size remify(14)
  letter-spacing remify(1.9)
  text-transform uppercase