.lawyers__items
  width 90%
  center-block()
  padding-top remify(53)
  max-width 676px
  display flex
  justify-content space-between
  flex-wrap wrap

.lawyers__item
  flex-basis 210px
  text-align center
  margin-top remify(43)

  .site-button
    font-size 12px
    margin-top 20px

.lawyers__item,
.lawyers__carousel-item-top
  font-size 16px
  color #636363
  letter-spacing unit(0.2/16, 'em')
  line-height 1.38

.lawyers__item-caption-red,
.lawyers__carousel-item-red
  color #fc2b36
  font-family 'TomaSans'
  font-size 12px
  text-transform uppercase
  display block
  margin-top 0.3em

.lawyers__item-picture,
.lawyers__item-img,
.lawyers__carousel-item-img
  width 100%

.lawyers__item-picture,
.lawyers__carousel-item-picture
  margin 0

.lawyers__item-caption
  margin-top unit(25/16, 'em')

.offices-carousel
  height 44.33vw
  min-height 34vh
  margin-top remify(98)

  .slick-list,
  .slick-track,
  .offices-carousel__item
    height 100%

  .slick-prev,
  .slick-next
    font-size remify(80)
    color white
    text-shadow 0 0 remify(10) black

  .slick-prev
    left 3%

  .slick-next
    right 3%

.lawyers__carousel-div
  simple-border('top', 1px, #f3f3f3)
  margin-top remify(33)
  display none

.lawyers__carousel,
.offices-carousel
  .slick-prev,
  .slick-next
    position absolute
    top 50%
    transform translateY(-50%)
    cursor pointer
    z-index 5

.lawyers__carousel
  margin-top remify(121)

  .slick-prev,
  .slick-next
    font-size remify(40)
    color #888

  .slick-prev
    left remify(72)

  .slick-next
    right remify(72)

.lawyers__carousel-item-wrapper
  outline none

.lawyers__carousel-item
  width 70%
  center-block()
  max-width 530px
  display flex
  justify-content space-between
  align-items center

.lawyers__carousel-item-picture
  flex-basis 211px

.lawyers__carousel-item-info
  flex-basis calc(100% - 235px)

.lawyers__carousel-item-top
  &::after
    content ' '
    height 1px
    width 138px
    display block
    background #e5e5e5
    margin-top 12px

.lawyers__carousel-item-bottom
  font-size 12.5px
  margin-top 16px
  color #505050
  line-height 1.44

.lawyers__carousel-item-paragraph
  margin 0

  &:not(:first-child)
    margin-top 1.3em

#lawyers-button
  margin-bottom remify(84)
  margin-top remify(98)
  font-size 12px
  center-block()
  display block

@media screen and (max-width: 767px)
  .lawyers__items
    max-width 500px
    justify-content center

  .lawyers__item
    flex-basis remify(211)
    margin-left 15px
    margin-right 15px

@media screen and (max-width: 699px)
  .lawyers__carousel
    .slick-prev
      left remify(20)

    .slick-next
      right remify(20)

  .lawyers__carousel-item
    flex-wrap wrap
    justify-content center

  .lawyers__carousel-item-info
    flex-basis 100%
    margin-top 18px

  #lawyers-button
    margin-top remify(66)