.services-title
  margin-top remify(53)
  margin-bottom remify(62)

.services-subtitle
  text-align center
  width 90%
  center-block()
  color #505050
  font-size remify(25)
  letter-spacing remify(0.2)
  line-height 0.88

.services__top-div
  display flex
  flex-wrap wrap

.services__top-div-content,
.services__top-div-cover
  flex-basis 50%

.services__top-div-content
  background #f3f3f3
  padding remify(110) remify(66) remify(100) remify(61)

.services-top-div-text
  font-size remify(16)
  letter-spacing remify(0.2)
  line-height 1.38
  color #505050
  max-width 385px

.services__top-div-cover
  background-image url('../img/backgrounds/services.jpg')

.services-subsection
  &:first-of-type,
  &:nth-of-type(2)
    padding-bottom remify(87.8)
    padding-top remify(80)
    simple-border('bottom', 1px, #f3f3f3)

  &:last-of-type
    padding-top remify(50)
    padding-bottom remify(102)

.services-subsection__items--civil
  .services-subsection__item
    background #1a1838

.services-subsection__items--merchantile
  .services-subsection__item
    background #4b4968

.services-subsection__items--collective
  margin-top remify(67)

  .services-subsection__item
    background #a8a8a8

.services-subsection__items
  display flex
  justify-content space-between
  flex-wrap wrap
  width 90%
  center-block()
  max-width 924px
  margin-top remify(55)

.services-subsection__item
  color white
  font-family 'TomaSans'
  background black
  flex-basis 24.7%
  height 88px
  text-align center
  padding 0 remify(22)
  line-height 1.33
  letter-spacing 0.2px
  text-transform uppercase
  font-size 11px
  margin-top 2px

.services-bottom-cover
  background-image url('../img/backgrounds/services-bottom.jpg')
  height 41.01vw
  min-height 40vh

@media screen and (max-width: 1023px)
  .services-subsection__items
    justify-content space-around

  .services-subsection__item
    flex-basis 44%

    &:nth-child(n+3)
      margin-top remify(20)

@media screen and (max-width: 929px)
  .services__top-div-content,
  .services__top-div-cover
    flex-basis 100%

  .services__top-div-content
    padding remify(50)

  .services-top-div-text
    max-width initial
    font-size 14px
    letter-spacing 0.1px

  .services__top-div-cover
    height 40vw
    min-height 30vh

@media screen and (max-width: 480px)
  .services-subsection__item
    flex-basis 80%
    max-width 280px

    &:nth-child(n+2)
      margin-top remify(20)