{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
La firma
{% endblock %}

{% block content %}
<h1 class="section-title firm-title">Abogados</h1>
<section class="lawyers__section">
  <div class="lawyers__items">
    <article class="lawyers__item">
      <figure class="lawyers__item-picture">
        <img class="lawyers__item-img" src="img/profiles/santiagorocha.jpg" alt="Santiago Rocha Landero" />
        <figcaption class="lawyers__item-caption">
          Santiago Rocha Landero
          <span class="lawyers__item-caption-red">Socio</span>
        </figcaption>
      </figure>
    </article>
    <article class="lawyers__item">
      <figure class="lawyers__item-picture">
        <img class="lawyers__item-img" src="img/profiles/omarulises.jpg" alt="Omar Ulises Camacho López" />
        <figcaption class="lawyers__item-caption">
          Omar Ulises Camacho López
          <span class="lawyers__item-caption-red">Asociado</span>
        </figcaption>
      </figure>
    </article>
    <article class="lawyers__item">
      <figure class="lawyers__item-picture">
        <img class="lawyers__item-img" src="img/profiles/pamelanava.jpg" alt="Pamela Nava Loyo" />
        <figcaption class="lawyers__item-caption">
          Pamela Nava Loyo
          <span class="lawyers__item-caption-red">Asociada</span>
        </figcaption>
      </figure>
    </article>
    <article class="lawyers__item">
      <figure class="lawyers__item-picture">
        <img class="lawyers__item-img" src="img/profiles/jorgesalazar.jpg" alt="Jorge Salazar Malda" />
        <figcaption class="lawyers__item-caption">
          Jorge Salazar Malda
          <span class="lawyers__item-caption-red">Pasante</span>
        </figcaption>
      </figure>
    </article>
    <article class="lawyers__item">
      <figure class="lawyers__item-picture">
        <img class="lawyers__item-img" src="img/profiles/renegerez.jpg" alt="René Gerez Lopez" />
        <figcaption class="lawyers__item-caption">
          René Gerez Lopez
          <span class="lawyers__item-caption-red">Pasante</span>
        </figcaption>
      </figure>
    </article>
    <article class="lawyers__item">
      <figure class="lawyers__item-picture">
        <img class="lawyers__item-img" src="img/profiles/adanadolfo.jpg" alt="Adán Adolfo Espinoza H." />
        <figcaption class="lawyers__item-caption">
          Adán Adolfo Espinoza H.
          <span class="lawyers__item-caption-red">Pasante</span>
        </figcaption>
      </figure>
    </article>
  </div>
  <div class="lawyers__cover cover"></div>
</section>
<section class="lawyers__carousel-div">
  <div class="lawyers__carousel">
    <div class="lawyers__carousel-item-wrapper">
      <article class="lawyers__carousel-item">
      <figure class="lawyers__carousel-item-picture"><img class="lawyers__carousel-item-img" src="img/profiles/santiagorocha.jpg" alt="Santiago Rocha Landero" /></figure>
      <figcaption class="lawyers__carousel-item-info">
        <div class="lawyers__carousel-item-top">
          <span class="lawyers__carousel-item-title">Santiago Rocha Landero</span>
          <span class="lawyers__carousel-item-red">Socio</span>
        </div>
        <div class="lawyers__carousel-item-bottom">
          <p class="lawyers__carousel-item-paragraph">
            El Licenciado Rocha obtuvo su Título Profesional por la Universidad Iberoamericana en 2008, actualmente se encuentra cursando la Maestría “Derecho de la Empresa” en la Universidad Panamericana.
          </p>
          <p class="lawyers__carousel-item-paragraph">
            Idiomas: Español e Inglés.<br>
            santiago@rlabogados.mx
          </p>
        </div>
      </figcaption>
    </article>
    </div>
    <div class="lawyers__carousel-item-wrapper">
      <article class="lawyers__carousel-item">
        <figure class="lawyers__carousel-item-picture"><img class="lawyers__carousel-item-img" src="img/profiles/omarulises.jpg" alt="Omar Ulises Camacho López" /></figure>
        <figcaption class="lawyers__carousel-item-info">
          <div class="lawyers__carousel-item-top">
            <span class="lawyers__carousel-item-title">Omar Ulises Camacho López</span>
            <span class="lawyers__carousel-item-red">Asociado</span>
          </div>
          <div class="lawyers__carousel-item-bottom">
            <p class="lawyers__carousel-item-paragraph">
              El Licenciado Camacho obtuvo su Título Profesional por la Universidad Lasalle en 2015.
            </p>
            <p class="lawyers__carousel-item-paragraph">
              Idiomas: Español e Inglés.<br>
              omar@rlabogados.mx
            </p>
          </div>
        </figcaption>
      </article>
    </div>
    <div class="lawyers__carousel-item-wrapper">
      <article class="lawyers__carousel-item">
        <figure class="lawyers__carousel-item-picture"><img class="lawyers__carousel-item-img" src="img/profiles/pamelanava.jpg" alt="Pamela Nava Loyo" /></figure>
        <figcaption class="lawyers__carousel-item-info">
          <div class="lawyers__carousel-item-top">
            <span class="lawyers__carousel-item-title">Pamela Nava Loyo</span>
            <span class="lawyers__carousel-item-red">Asociada</span>
          </div>
          <div class="lawyers__carousel-item-bottom">
            <p class="lawyers__carousel-item-paragraph">
              La Licenciada Nava obtuvo su Título Profesional por la Universidad del Valle de México en 2017.
            </p>
            <p class="lawyers__carousel-item-paragraph">
              Idiomas: Español e Inglés.<br>
              pnava@rlabogados.mx
            </p>
          </div>
        </figcaption>
      </article>
    </div>
    <div class="lawyers__carousel-item-wrapper">
      <article class="lawyers__carousel-item">
        <figure class="lawyers__carousel-item-picture"><img class="lawyers__carousel-item-img" src="img/profiles/jorgesalazar.jpg" alt="Jorge Salazar Malda" /></figure>
        <figcaption class="lawyers__carousel-item-info">
          <div class="lawyers__carousel-item-top">
            <span class="lawyers__carousel-item-title">Jorge Salazar Malda</span>
            <span class="lawyers__carousel-item-red">Pasante</span>
          </div>
          <div class="lawyers__carousel-item-bottom">
            <p class="lawyers__carousel-item-paragraph">
              Jorge Salazar actualmente cursa la carrera de Derechos en la Universidad Iberoamericana
            </p>
            <p class="lawyers__carousel-item-paragraph">
              Idiomas: Español e Inglés.<br>
              jsalazar@rlabogados.mx
            </p>
          </div>
        </figcaption>
      </article>
    </div>
    <div class="lawyers__carousel-item-wrapper">
      <article class="lawyers__carousel-item">
        <figure class="lawyers__carousel-item-picture"><img class="lawyers__carousel-item-img" src="img/profiles/renegerez.jpg" alt="René Gerez Lopez" /></figure>
        <figcaption class="lawyers__carousel-item-info">
          <div class="lawyers__carousel-item-top">
            <span class="lawyers__carousel-item-title">René Gerez Lopez</span>
            <span class="lawyers__carousel-item-red">Pasante</span>
          </div>
          <div class="lawyers__carousel-item-bottom">
            <p class="lawyers__carousel-item-paragraph">
              René Gerez actualmente cursa la carrera de Derecho en la Universidad Iberoamericana.
            </p>
            <p class="lawyers__carousel-item-paragraph">
              Idiomas: Español e Inglés.
            </p>
          </div>
        </figcaption>
      </article>
    </div>
    <div class="lawyers__carousel-item-wrapper">
      <article class="lawyers__carousel-item">
      <figure class="lawyers__carousel-item-picture"><img class="lawyers__carousel-item-img" src="img/profiles/adanadolfo.jpg" alt="Adán Adolfo Espinoza Hernández" /></figure>
      <figcaption class="lawyers__carousel-item-info">
        <div class="lawyers__carousel-item-top">
          <span class="lawyers__carousel-item-title">Adán Adolfo Espinoza Hernández</span>
          <span class="lawyers__carousel-item-red">Pasante</span>
        </div>
        <div class="lawyers__carousel-item-bottom">
          <p class="lawyers__carousel-item-paragraph">
            Adán Espinoza actualmente cursa la carrea de Derecho en la Universidad Unitec.
          </p>
          <p class="lawyers__carousel-item-paragraph">
            Idiomas: Español
          </p>
        </div>
      </figcaption>
    </article>
    </div>
  </div>
  <button id="lawyers-button" class="site-button" type="button" name="lawyers">Ver todos</button>
</section>
{% endblock %}
{% block js_inline %}
<script type="text/javascript">
  $('.lawyers__carousel').slick({
    prevArrow: '<span class="slick-prev fa fa-angle-left"></span>',
    nextArrow: '<span class="slick-next fa fa-angle-right"></span>'
  });
</script>
{% endblock %}