<footer>
  <div class="footer-inner">
    <a class="footer-logo-container" href="/"><img src="img/logos/logo-dark.png" alt="Logo" class="footer-logo"/></a>
    <div class="footer-inner__nav">
      <ul class="footer-inner__nav-column">
        <li class="footer-inner__nav-item footer-inner__nav-item--header">
          Ayuda
        </li>
        <li class="footer-inner__nav-item">
          <a href="#">Precios</a>
        </li>
        <li class="footer-inner__nav-item">
          <a href="#">Cobertura</a>
        </li>
      </ul>
      <ul class="footer-inner__nav-column">
        <li class="footer-inner__nav-item footer-inner__nav-item--header">
          Acerca
        </li>
        <li class="footer-inner__nav-item">
          <a href="#">Teléfonos</a>
        </li>
        <li class="footer-inner__nav-item">
          <a href="#">Fax</a>
        </li>
      </ul>
    </div>
    <ul class="footer-inner__social footer-inner__nav-column">
      <li class="footer-inner__nav-item footer-inner__nav-item--header">
        Contacto
      </li>
      <li class="footer-inner__nav-item">
        <a href="#"><span class="fa fa-facebook"></span>Facebook</a>
      </li>
      <li class="footer-inner__nav-item">
        <a href="#"><span class="fa fa-twitter"></span>Twitter</a>
      </li>
    </ul>
  </div>
  <span class="footer-copyright">2017 Copyright. All rights reserved</span>
</footer>
