<footer>
  <div class="footer-inner">
    <a class="footer-logo-container" href="/"><img src="img/logos/logo-dark.png" alt="Logo" class="footer-logo"/></a>
    <div class="footer-inner__nav">
      <ul class="footer-inner__nav-column">
        <li class="footer-inner__nav-item">
          <a href="/">Inicio</a>
        </li>
        <li class="footer-inner__nav-item">
          <a href="la_firma.html">La firma</a>
        </li>
        <li class="footer-inner__nav-item">
          <a href="servicios.hmtl">Servicios</a>
        </li>
      </ul>
      <ul class="footer-inner__nav-column">
        <li class="footer-inner__nav-item">
          <a href="careers.html">Careers</a>
        </li>
        <li class="footer-inner__nav-item">
          <a href="contacto.html">Contacto</a>
        </li>
      </ul>
    </div>
    <ul class="footer-inner__social footer-inner__nav-column">
      <li class="footer-inner__nav-item footer-inner__nav-item--header">
        Contacto
      </li>
      <li class="footer-inner__nav-item">
        <a href="#"><span class="fa fa-facebook"></span>Facebook</a>
      </li>
      <li class="footer-inner__nav-item">
        <a href="#"><span class="fa fa-twitter"></span>Twitter</a>
      </li>
    </ul>
  </div>
  <span class="footer-copyright">2017 Copyright. All rights reserved</span>
</footer>
