<nav>
  <div class="desktop-logo-container">
    <a href="index.html"><img src="img/logos/logo-white.png" alt="Logo"></a>
  </div>
  <div class="menu-trigger">
    <span class="fa fa-bars"></span>
  </div>
  <div class="menu-container">
    <div class="mobile-logo-container">
      <a href="index.html"><img src="#" alt="Logo"></a>
    </div>
    <div class="menu">
      <a href="index.html" class="menu-link {% if section == 'index' %}active{% endif %}">Inicio</a>
      <a href="la_firma.html" class="menu-link {% if section == 'la_firma' %}active{% endif %}">La firma</a>
      <a href="servicios.html" class="menu-link {% if section == 'servicios' %}active{% endif %}">Servicios</a>
      <a href="careers.html" class="menu-link {% if section == 'careers' %}active{% endif %}">Careers</a>
      <a href="contacto.html" class="menu-link {% if section == 'contacto' %}active{% endif %}">Contacto</a>
    </div>
  </div>
</nav>