footer
  font-family 'TomaSans'
  background #eaeaea
  padding-top remify(45)
  padding-bottom remify(48)

.footer-logo
  width remify(48)

.footer-copyright
  margin-top remify(41)
  line-height 2.6
  letter-spacing remify(0.1)
  display block
  text-align center
  color #6d6d6d
  font-size 10px

.footer-inner
  align-items flex-start
  width 90%
  center-block()
  flex-wrap wrap
  display flex
  max-width 930px
  justify-content space-between

.footer-inner__nav
  display flex
  flex-grow 1
  margin-left remify(72)
  margin-top remify(-6)

.footer-inner__nav-column
  list-style none
  margin 0
  padding 0

  &:not(.footer-inner__social):not(:first-child)
    margin-left remify(84)

.footer-inner__nav-item
  line-height 2.6
  font-size 10px
  text-transform uppercase
  letter-spacing 0.8px

.footer-inner__nav-item
  color #656565

  a
    color inherit

  .fa::before
    background #0e0a2d
    border-radius 50%
    color white
    display inline-block
    height 16px
    font-size 9px
    line-height 16.6px
    margin-right 10px
    text-align center
    width 16px

.footer-inner__nav-item--header
  color #0e0a23

.footer-inner__social
  simple-border('left', 1px, #0e0a2d)
  padding-left remify(19)
  margin-top remify(-6)
  padding-bottom remify(10)

@media screen and (max-width: 590px)
  .footer-inner
    justify-content center

  .footer-logo-container
    flex-basis 100%
    text-align center
    margin-bottom remify(45)

  .footer-inner__social
    border-left none
    margin-top remify(20)
    margin-left 0
    flex-basis 205px
    padding 0
    display flex
    justify-content space-between
    flex-wrap wrap

    .footer-inner__nav-item
      flex-basis 50%

      &:last-child
        text-align right

    .footer-inner__nav-item--header
      flex-basis 100%
      text-align center

  .footer-inner__nav
    flex-grow initial
    flex-basis 100%
    margin 0
    justify-content center