nav
  display flex
  align-items center
  height 90px
  left 0
  padding 0 remify(50)
  position fixed
  top 0
  width 100%
  transition background 0.2s
  z-index 12

  &.fixed
    background #100f2e

  .menu-trigger,
  .mobile-logo-container
    display none

  .menu-trigger
    color white

  .desktop-logo-container
    padding-top remify(5)

    img
      width remify(40)

  .menu-container
    flex-grow 1
    text-align right
    height 100%

  .menu
    height 100%

  .menu-link
    font-size 12px
    letter-spacing remify(0.5)
    color white
    display inline-block
    vertical-align middle
    text-transform uppercase
    line-height 90px

    &:hover, &.active
      color #f53333

    &:not(:first-child)
      margin-left remify(38)

@media screen and (max-width: 767px)
  nav
    justify-content space-between
    height 56px
    padding 0 18px

    .mobile-logo-container
      display block
      center-block()
      width 70%
      text-align center

    .desktop-logo-container
      img
        width 26px

    .menu-trigger
      display block
      float right
      margin 18px 0 // Change
      font-size 18px // Change

    .menu-container
      background #0f0b2e
      height 100vh
      margin-right 0
      overflow-y auto
      position fixed
      right -280px
      top 0
      transition right 0.2s
      width 280px
      padding-top 25px // Change

      &.show-menu
        box-shadow 0 0 10px black
        right 0

      .menu
        margin-top 40px
        text-align left
        height auto
        center-block()
        margin-bottom 40px

      .menu-link
        display block
        height auto
        line-height 1
        margin-left 0
        padding 1.5em 3em
        border-left 4px solid transparent