*
  box-sizing border-box

html
  font-size unit($baseFontSize, 'px')

  @media screen and (max-width: 768px)
    font-size 14.5px

  @media screen and (max-width: 480px)
    font-size 13px

body
  font-family 'Butler'
  font-size inherit

  &.noscroll
    overflow hidden

    &::after
      content ' '
      opacity 1
      z-index 9

a
  &, &:focus, &:hover, &:active
    text-decoration none

#page
  margin 0
  overflow hidden
  padding 0

.sections-nav + main
  padding-top 90px

  @media screen and (max-width: 767px)
    padding-top 56px

.section-title
  font-size remify(28)
  letter-spacing remify(0.2)
  color #0e0b23
  margin-top remify(59)
  width 90%
  center-block()
  text-align center

// LOADERS //
.custom-loader
  display none
  text-align center
  width 100%

  .ball-pulse-sync
    div
      background white

.button-wrapper.disabled,
button[type="submit"][disabled]
  display none

  & + .custom-loader
    &:not(.vertical-center)
      display block

    &.vertical-center
      display flex
      height 100%
// END LOADERS //

// FORMS //
label.error
  color $errorColor
  display block
  padding-top 0.3em

.form-message
  i, span
    display inline-block

  span
    margin-left 0.5em

  &.error
    color $errorColor

  &.success
    color $successColor

  &.success, &.error
    margin-top 1em

input, textarea, button, select
  &, &:hover, &:active &:focus
    box-shadow none
    outline none

textarea
  resize none
// END FORMS //

.site-input
  simple-border('all', 1px, #e5e5e5)
  letter-spacing unit(0.4/12, 'em')
  padding 1em 0.9em 1.2em 0.9em
  font-size 12px
  font-family 'TomaSans'
  width 100%

  &, &::placeholder
    color #0c0922

.site-button
  background #0e0a2d
  color white
  text-transform uppercase
  outline none
  cursor pointer
  transition background 0.2s
  border none
  letter-spacing unit(0.4/12, 'em')
  padding 1em 1.7em
  font-family 'TomaSans'

  &:hover, &:active, &:focus
    background lightness(#0e0a2d, 26%)

.red-text
  color $red

@import 'partials/navbar'

@import 'partials/footer'