@font-face
  font-family 'TomaSans'
  font-style normal
  font-weight $regular
  src local('TomaSans'),
    local('TomaSans Regular'),
    local('TomaSans-Regular'),
    url('../fonts/TomaSans-Regular.otf') format('otf'),
    url('../fonts/TomaSans-Regular.woff') format('woff'),
    url('../fonts/TomaSans-Regular.woff2') format('woff2')

@font-face
  font-family 'Butler'
  font-style normal
  font-weight $regular
  src local('Butler'),
    local('Butler Regular'),
    local('Butler-Regular'),
    url('../fonts/Butler-Regular.otf') format('otf'),
    url('../fonts/Butler-Regular.woff') format('woff'),
    url('../fonts/Butler-Regular.woff2') format('woff2')

@font-face
  font-family 'Butler'
  font-style normal
  font-weight $extrabold
  src local('Butler'),
    local('Butler ExtraBold'),
    local('Butler-ExtraBold'),
    url('../fonts/Butler-ExtraBold.otf') format('otf'),
    url('../fonts/Butler-ExtraBold.woff') format('woff'),
    url('../fonts/Butler-ExtraBold.woff2') format('woff2')